.previewFrame {
  background-color: var(--primary-light);
  margin: 0;
  padding: 20px;

  h1 {
    color: var(--complementary);; /* Complementary */
  }

  button {
    background-color: var(--primary); /* Primary */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: var(--primary-dark); /* Primary Dark */
  }

  :global(.subtitle) {
    color: var(--primary); /* Primary */
  }


  :global(.badge) {
    background-color: var(--analogous); /* Analogous 1 */
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    display: inline-block;
  }

  :global(.footer) {
    background-color: var(--primary-dark); /* Primary Dark */
    color: white;
    padding: 10px;
    text-align: center;
    width: 100%;
    margin-top: 40px;
  }
}
